<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<!-- 	<img data-src="holder.js/90x70" alt="advetiser logo"> -->
		<h2 class="text-center"><%= link_to(job.title,job_path(job)) %></h2>
		<hr>
		
		<div class="meta" >
			<div class="row">
				<div  class="col-md-6" >
					<h4>
					<i class="fa fa-money" aria-hidden="true"></i> <%= job.wage_lower_bound  %> ~ <%= job.wage_upper_bound  %>
					</h4>
					
				</div>
				
				<div class="col-md-6">
					<h4>
					<i class="fa fa-location-arrow" aria-hidden="true"></i>
					<%= job.location  %>
					</h4>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					
					<h4>
					<i class="fa fa-building" aria-hidden="true"></i>
					<%= job.company  %>
					</h4>
				</div>
				
				<div class="col-md-6">
					<h4><i class="fa fa-clock-o" aria-hidden="true"></i>	<%= job.created_at.strftime("%d %b. %Y")  %> </h4>
				</div>
			</div>
			

		</div>
					<div class="row">
				<div class="col-md-12" >
					<%= link_to("quick apply",job_path(job),:class=> "btn btn-danger text-center", :style=>"margin-left:35%;margin-top:15px;")%>
				</div>
			</div>
		<div>
		</div>
	</div>
</div>