<!-- <div class="pull-right">
	<%= link_to("Add a Job",new_job_path,:class=>"btn btn-default") %>
</div> -->
<div class="dropdown clearfix pull-right">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	Order
	<span class="caret"></span>
	
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
		<li>
			<%= link_to("Ordered by lower bound",jobs_path(:order => "by_lower_bound")) %>
		</li>
		<li>
			<%= link_to("Ordered by upper bound",jobs_path(:order =>"by_upper_bound")) %>
		</li>
		<li>
			<%= link_to("Ordered by time",jobs_path) %>
		</li>
	</ul>
</div>
<table class="table table-boldered">
	<thead>
		<td>Jobs </td>
		<td>Salary lower bound</td>
		<td>Salary upper bound</td>
		<td>CreatedAt</td>
	</thead>
	<tbody>
		<%= render :partial=>"job", :collection=>@jobs,:as=>:job %>
	</tbody>
	
</table>