<div class="row reg-style">
	
	<div class="container" style="max-width: 360px;">
		<div  class="panel panel-primary reg-panel">
			<div class="panel-body">
			<h3 class="user-reg-log-head">Log in</h3>
				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="form-inputs">
					<%= f.input :email, required: true, autofocus: true,label: false,placeholder: 'Enter email*' %>
					<%= f.input :password, required: true,label: false,placeholder: 'Enter password*'  %>
					<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
				</div>
				<div class="form-actions">
					<%= f.button :submit, "Log in" ,:class => "btn-danger reg-btn"%>

					<p style="text-align:center">
					<br>
					<%= link_to("Forgot your password?",new_user_password_path) %></p>
					
				</div>
					
				<% end %>
				<hr>
				Do not have an account? &nbsp<%= link_to("Sign up",new_user_registration_path) %>
				
				
			</div>
		</div>
	</div>
</div>