<tr>
	<td>
	<%= render_job_status(job)  %>
	<%= link_to(job.title,job_path(job)) %></td>
	<td><i class="fa fa-money" aria-hidden="true"></i> <%= job.wage_lower_bound  %> ~ <%= job.wage_upper_bound  %></td>

	<td><i class="fa fa-location-arrow" aria-hidden="true"></i>
					<%= job.location  %></td>
	<td><i class="fa fa-building" aria-hidden="true"></i><%= job.company  %></td>
	<td><i class="fa fa-clock-o" aria-hidden="true"></i>	<%= job.created_at.strftime("%d %b. %Y")  %></td>
	</td>
</tr>